<div class="flex flex-column align-items-center">
    <div class="absolute left-0 ml-2 md:ml-3 mt-3">
        <p-button icon="pi pi-chevron-left" [rounded]="true" [text]="true" (click)="onBackButtonClicked()"/>
    </div>
    <p class="text-2xl text-color text-center mb-6">Créer un article</p>
    <form [formGroup]="articleForm" class="flex flex-column gap-5 p-fluid w-9 lg:w-5" (ngSubmit)="onSubmit()">
        <p-dropdown 
            [options]="subjects"
            optionLabel="name" 
            placeholder="Choissez un thème"
            formControlName="subject"/>

        <p-floatLabel>
            <input id="title" type="text" pInputText formControlName="title"/>
            <label for="title">Titre</label>
        </p-floatLabel>

        <p-floatLabel>
            <textarea 
                id="content" 
                rows="5"
                pInputTextarea
                formControlName="content">
            </textarea>
            <label for="float-input">Contenu</label>
        </p-floatLabel>
    

        <p-button type="submit" label="Publier" icon="pi pi-send" [disabled]="articleForm.valid == false"/>
    </form>
</div>