@use "../../../constants";

#skeleton {
    flex: 0 0 auto;
    padding: 1.5rem;
    width: 50%;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

@media screen and (max-width:constants.$mobileBreakpoint) {
    #skeleton {
        width: 100%;
    }
}